
/* font-family: 'Great Vibes', cursive; */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(248,217,199);
    color:#333;
    font-family: 'Roboto', sans-serif;
}


.sticky-bottom {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.favicon {
  padding: 5px;
}

.copyright {
    padding-right: 20px;
}
/* Nav-Bar Section */
.nav-bar {
    background-color: #e3bb9d;
}

a {
    color:#333;

}

.a-links, .homepage-contact {
    color: rgb(255,97,75);
}
h1, h2 {
    color: #D18C03;
    font-size: 2em;
    font-family:'Great Vibes', cursive;
    margin-top: 5px;
    letter-spacing: 5px;

}
a:hover {
    color:#D18C03;;
}

.active {
    color: rgb(255,97,75);
}
 

/* End of Nav-Bar */

/* index.html */
.main-container {
    position: relative;
    
}
.row {
    margin-right: 0px;
}

.photo-of-me {
    max-width:100%;
    padding-top: 20px;
    
}

.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    color: rgb(255,97,75);
    font-size: 4em;
}
.center {
    margin: auto 0px;
}

.btn {
    background-color: #D18C03;
    color: #fff;
    display: flex;
    margin: 0 auto;
}

.homepage, .vital-link {
    color: rgb(255,97,75)
}

.roundItem {
    width: 70px;
    border-radius: 50px;
}

.skills {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills > img {
    margin: 20px;
}

.usedSkills {
    margin: 5px;
    width: 50px;
}
/* About Me */

.about {
    height: auto;
}

.img {
    max-width: 80%;
    margin-top:10px;
}

.photo, .form{
    display: flex;
    justify-content: center;
}

/* Portfolio */

.jumbotron {
    background-color: rgb(248,217,199);
    margin-bottom: 0px;
}

.progress {
    background-color: rgb(248,217,199);
    font-size: 20px;
    height: 15px; 
    margin-bottom: 10px;

}

.card-body {
    background-color:#f6e9e1;
}

span {
    color: #D18C03;
    font-size: 20px;
}

.btn-group > a {
    margin: 5px;
}

.btn-group > a > button:hover, .btn-group > a > button:active {
    background-color: #D18C03;
    color: #333;
}

/* Contact */
.contact-info {
    margin-top: 200px;
    margin-bottom: 300px;
}
@media only screen and (max-width: 991px) {
  .img-3 {
   height: 450px;
  }

  .img {
    max-height: 650px;
  }
  

  
} 