
/* font-family: 'Great Vibes', cursive; */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(248,217,199);
    color:#333;
    font-family: 'Roboto', sans-serif;
}
footer {
    margin-top: 20px;
}

.sticky-bottom {
    display: flex;
    justify-content: center;
}

.favicon {
  padding: 5px;
}

.copyright {
    padding-right: 20px;
}
/* Nav-Bar Section */
.nav-bar {
    background-color: #e3bb9d;
}

a {
    color:#333;

}
h1 {
    color: #D18C03;
    font-size: 2em;
    font-family:'Great Vibes', cursive;
    margin-top: 5px;
    letter-spacing: 5px;

}
a:hover {
    color:#D18C03;;
}

.active {
    color: rgb(255,97,75);
}

/* End of Nav-Bar */

/* index.html */
.row {
    margin-right: 0px;
}

.photo-of-me {
    margin-top: 10px;
    height: 85vh;
}
.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header {
    color: rgb(255,97,75);
    font-size: 4em;
}
.center {
    margin: auto 0px;
}

.btn {
    background-color: #D18C03;
    color: #fff;
    display: flex;
    margin: 0 auto;
}
/* About Me */

.about {
    height: auto;
}

.img {
    margin-top:10px;
    height: 650px;
}

.photo {

    display: flex;
    justify-content: center;
}



/* Portfolio */

.jumbotron {
    background-color: rgb(248,217,199);

}

.progress {
    background-color: rgb(248,217,199);
    font-size: 20px;
    height: 10px; 
    margin-bottom: 10px;

}

.progress-bar {
    background-color:rgb(255,97,75);
}

span {
    color: #D18C03;
    font-size: 20px;
}

/* Contact */

.form {
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 768px) {
  .photo-of-me {
    display:block;
    margin: 10px auto;

  }
}